/* Hamburger menu */
    .navbar-main .icon a {
        background: transparent;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        color: white;
    }
    
    .navbar-main .icon a:hover {
        color: white;
    }
    
    .navbar-main img {
        width: 30%;
    }
    .navbar-main {
        margin-top: 3%;
    }


@media only screen and (max-width: 550px) {
    .navbar-main img {
        width: 40%;
    }
}