.registration-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: fit-content;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4%;
    margin-bottom: 8%;
    font-family: "Rajdhani";
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 5px solid #033852;
}

.registration-main h1{
    margin-top: 0;
    margin-bottom: 4%;
    font-size: 2.7rem;
    color: #033852;
}

.send-info {
    font-weight: bold;
    margin-top: 5%;
    display: flex;
    height: 9vh;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin-left: 20%;
    font-size: 1.3rem;
}

.send-info input{
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-bottom: 3px solid #033852;
}

input[type=text]{
    font-size: 1.3rem;
    font-family: "Rajdhani";
    font-weight: bold;
    color: #033852 ;
}

.register-btn {
    width: fit-content;
    align-items: center;
    display: flex;
    border-radius: 30px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 2% 6% 2% 6%;
    margin-top: 10%;
    cursor: pointer;
    background-color: blue;
    color: white;
}

.register-btn:hover {
    background-color: darkblue;
    color: white;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.register-btn.error {
    background-color: #033852;
    color: white;
}

.register-btn.disabled {
    background-color: #19b700;
    color: white;
    cursor: not-allowed;
    pointer-events: none;
}

.radio-btn .radio {
    width: 5%;
    margin: 0 2%;
}

.radio-btn {
    display: contents;
}

@media only screen and (max-width: 300px) {
    .radio-btn .radio {
        width: 8%;
    }
}

.loader{
    display: flex;
    justify-content: center;
    margin-top: 27%;
    margin-bottom: 27%;
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #033852;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #033852 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.city-select {
    font-weight: bold;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 30%;
    font-size: 1rem;
}

.city-select input{
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-bottom: 3px solid #033852;
}
  