@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

.navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
    height: 10vh;
    color: white;
    font-family: "Poppins";
    font-size: 1.3rem;
    font-weight: bold;
    width: 90%;
}

.navbar-main img {
    width: 13vw;
    height: fit-content;
    display: flex;
    align-items: center;
}

.navbar-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    font-size: 1.3rem;
}

.navbar-buttons a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

