.about-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
}

.about-text {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-right: 5%;
    text-align: justify;
    font-family: "Rajdhani";
    font-size: 1.3rem;
}

.about-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 50%;
    height: auto;
}

.about-text h1 {
    font-size: 2.7rem;
}

.about-picture img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 900px) {
    .about-main {
        flex-direction: column-reverse;
        height: fit-content;
        margin-top: 15%;
        margin-bottom: 10%;
    }
    .about-text {
        width: 90%;
        margin-right: 0;
    }
    .about-picture {
        width: 95%;
    }
}