@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');

body {
    margin: 0;
}

.landing-main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('/public/traveling-image.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Rajdhani";
    background-attachment: fixed;
}
.landing-header{
    display: flex;
    align-self: center;
    height: 30%;
    margin-top: 7%;
    align-items: center;
    font-size: 5rem;
}
.landing-header-info {
    width: 60%;
    height: 20%;
    text-align: center;
    font-size: 1.15rem;
    font-weight: bold;
}
.landing-btn{
    height: 10%;
}
.landing-btn a{
    font-size: 1.4rem;
    background-color: #fff;
    padding: 10px 40px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    color: #033852;
}
.dimmer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Landing text animation */
  #spin:after {
    content:"";
    animation: spin 10s linear infinite;
  }

  @keyframes spin {
    0% { content:"Good morning!";}
    10% { content:"Guten Morgen!";}
    20% { content:"Bon matin!";}
    30% { content:"Buen dia!";}
    40% { content:"доброе утро!";}
    50% { content: "Ohayō!"; }
    60% { content: "Buongiorno!"; }
    70% { content: "God morgon!"; }
    80% { content: "Добро утро!"; }
    90% { content: "Bom dia!"; }
  }

@media only screen and (max-width: 800px) {
    .landing-header {
        font-size: 3.5rem;
    }
    .landing-header-info {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 480px) {
    .landing-header {
        font-size: 3rem;
        height: 25%;
        margin-top: 11%;
    }
    .landing-header-info {
        font-size: 0.9rem;
    }
    .landing-btn a{
        font-size: 1rem;
        padding: 10px 40px;
    }
}

@media only screen and (max-width: 370px) {
    .landing-header {
        font-size: 2.5rem;
        height: 20%;
        margin-top: 23%;
    }
    .landing-header-info {
        margin-bottom: 3%;
    }
}